
body{
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

a:visited{
    font-family:Arial, Helvetica, sans-serif; 
    text-decoration: none;
}


.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #005AFC;
	left: 20%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #9fafb1;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 2.9em;
	color: #9fafb1;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color:#005AFC;
}

.show {
	font-size:2em;
	color: #707272;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 15px 25%;
	background-color:rgb(246, 246, 246);
    box-shadow:0.7rem  0.5rem 0.5rem  rgba(55, 54, 54, 0.3);
	color: #072CB6;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background-color:rgb(246, 246, 246);
    box-shadow:0.7rem  0.5rem 0.5rem  rgba(55, 54, 54, 0.3);
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);

}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #005AFC;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #005AFC;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #181B49;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #005AFC;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}


/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.5em;
		
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}	
}

.webhelp_expand_collapse_sections,
.wh_hide_highlight,
.oxy-icon-pdf-link,
.wh_navigation_links a,
.wh_navigation_links a:hover,
.wh_navigation_links a:active,
.wh_navigation_links a:visited,
.wh_print_link a:before,
.wh_navigation_links a:before,
.wh_navigation_links a:hover:before,
.wh_navigation_links a:active:before,
.wh_navigation_links a:visited:before{
    color: #026270;
    text-decoration: none;
}

/*
 * ------------------------------------------------------------------
 *  
 * Publication titles
 *  
 */
 .wh_publication_title > a{
     font-size: 0.8em;
}




/* The submenus */
.wh_top_menu ul ul {
    background-color: #f4f4f4;
}
.wh_top_menu ul li:hover,
.wh_top_menu.activated-on-click ul li.active {
    background-color: #f4f4f4;
}
.wh_top_menu ul ul li a:hover {
    background: #e4e4e4;
}
.wh_top_menu ul ul li {
    border-top-color: #e4e4e4;
}

.wh_top_menu:not(.activated-on-click) ul:hover li,
.wh_top_menu:not(.activated-on-click) ul li:hover {
    /* WH-2521 Change the background color imediatelly when the current menu item (li) or other menu item is hovered. */
    transition: none; 
}

.wh_top_menu:not(.activated-on-click) ul li {
    /* WH-2521 Delay the background color change on hover off. */
    transition: background-color 0.2s 1s;
}

/*




/*
 * ------------------------------------------------------------------
 *  
 * Publication TOC
 * 
 */
.wh_publication_toc{
    border-radius: 3px;
    padding: 1.5em 0.5em;
    line-height: 1em;
    position: fixed;
}

.wh_publication_toc .shortdesc {
    font-family: Arial, Helvetica, sans-serif;
	color:#072CB6;
}
.wh_publication_toc .active > .topicref a {
	color:#072CB6;
    font-weight: 700;
    font-family:'Roboto';
}
.wh_publication_toc div, .wh_publication_toc a, .wh_publication_toc a:visited, .wh_publication_toc a:hover {
    color:#072CB6;
    font-family:'Roboto';
}
.wh_publication_toc a:hover {
    text-transform: uppercase;  
    
}

@media only screen and (max-width: 767px) {
    .wh_publication_toc {
        border-radius: 0;
        padding: 1em 0.5em;
        margin-top: 10px;
    }
}

/*
 * ------------------------------------------------------------------
 *  
 * Footer
 * 
 */
.wh_footer{
    text-align: center;
    padding: 0.5em;
	font-size: 10px;
	
}


/*
 * ------------------------------------------------------------------
 *  
 * Topic content
 * 
 */

.cbp_tmlabel, p {
	color: #181B49;
    line-height: 1.2em;
	font-family: "Sora", sans-serif;
	font-weight: 400;
	text-align: left;
}

.wh_topic_content, .wh_content_area, h1 {
	font-family: "Sora", sans-serif;
	font-weight: 600;
	color: #181B49;
	text-align: left;

}



